.memeText{
    z-index: 15;
    font-size: 40px;
    margin:0px;
    position:absolute;
    bottom:5%;
    width:100%;
    text-align: center;

}

.imgContainer{
    background-size:contain !important;
    display:flex;
    z-index: 10;
    display:inline-block;
    position:relative;
}
